body * {
  margin: 0;
  padding: 0;
}

.form_member {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 300px;
}

li {
  margin: 1rem 0;
  list-style: none;
}

input {
  width: 300px;
  margin-top: 0.5rem;
}

h2 {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.8rem;
}

button {
  padding: 0.5rem 0.7rem;
  background-color: limegreen;
  border: 0;
  color: white;
  border-radius: 0.2rem;
}