
.sfdf{
  background-color: bisque;
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Medium';
  src: local('SpoqaHanSansNeo-Medium'), url('./font/SpoqaHanSansNeo-Medium.ttf') format('truetype');
  }

  $myfont:' SpoqaHanSansNeo-Medium';